.layout-content {
  width: 1200px;
  margin: auto;

  @media (min-width: $mobile) and (max-width: $desktop) {
    margin: auto;
    width: 90%;
  }

  @media (max-width: $mobile) {
    width: 90%;
  }
}
